.container {
    background-color: #2f4858;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  
  .link {
    color: #daf7dc;
    font-size: 30px;
    text-decoration: none;
  }
  
  .link:global.active {
    color: #157145;
    font-weight: bold;
  }
  